In [6]:
pip install pandas

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('EDV_2020.csv',delimiter=';')

In [19]:
df

,prov_insc,cant_insc,parr_insc,anio_insc,mes_insc,dia_insc,fecha_insc,anio_div,mes_div,dia_div,...,fecha_nac2,edad_2,hijos_2,p_etnica2,niv_inst2,sabe_leer2,prov_hab2,cant_hab2,parr_hab2,area_2
0,17,1701,170112,2020,6,30,6/30/2020,2019,12,16,...,,999,0,9,99,9,17,1701,170112,1
1,9,901,90110,2020,1,3,1/3/2020,2019,12,16,...,,999,0,6,6,1,9,901,90110,1
2,2,201,20101,2020,9,24,9/24/2020,2020,6,16,...,,999,99,1,6,1,2,201,20159,2
3,7,701,70102,2020,3,13,3/13/2020,2020,3,11,...,9/19/1972,47,0,6,5,1,88,8800,880000,1
4,7,701,70102,2020,8,26,8/26/2020,2020,7,31,...,6/11/1984,36,0,6,5,1,88,8800,880000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14563,12,1205,120502,2020,3,5,3/5/2020,2019,10,21,...,10/1/1990,29,1,6,5,1,5,503,50351,2
14564,12,1205,120502,2020,3,3,3/3/2020,2020,1,29,...,8/11/1978,41,0,6,6,1,9,901,90112,1
14565,12,1205,120502,2020,2,28,2/28/2020,2020,2,27,...,12/20/1951,68,0,6,3,1,12,1205,120509,1
14566,12,1205,120502,2020,2,20,2/20/2020,2019,12,20,...,8/24/1966,53,1,6,6,1,12,1205,120502,1
14567,9,901,90112,2020,9,13,9/13/2020,2020,9,9,...,11/22/1984,35,0,6,6,1,9,901,90104,1

In [1]:
pip install couchdb

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: couchdb in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (1.2)

[notice] A new release of pip available: 22.3 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import couchdb

In [3]:
server=couchdb.Server("http://melani:12345@localhost:5984/")

In [4]:
db=server['proyecto']

In [13]:
data = df.to_dict(orient='records')
for doc in data:
    db.save(doc)